body {
  background: #e7e7e7;
  margin: 0 auto;
  max-width: 1200px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  color: rgb(0, 39, 20);
  text-align: center;
}

.painel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
  gap: 100px;
}

form {
  width: 400px;
  border-radius: 5px;
  padding: 20px;
  background: #ffff;
  height: 600px;
  align-items: center;
}

input,
label {
  display: block;
}

label {
  margin-bottom: 10px;
}

input {
  width: 380px;
  height: 35px;
  border-radius: 10px;
  border: #cecece 2px solid;
}

button {
  width: 100px;
  height: 40px;
  background: rgb(0, 39, 20);
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
}

.painel__controle {
  color: #0b100a;
  background: #ffff;
  width: 300px;
  border-radius: 5px;
  padding: 20px;
  align-items: center;
}

.painel__controle-item {
  text-align: center;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.medidores {
  display: flex;
  flex-direction: column;
}

.medidor-img {
  display: block;
  width: 100%;
  height: auto;
  pointer-events: none;
}

.medidor-container {
  position: relative;
  width: 300px;
  max-width: 90%;
  display: inline-block;
  background: rgb(0, 39, 20);
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 50px;
  color: white;
}

.ponteiro {
  position: absolute;
  left: 43%;
  bottom: 20px;
  height: 50%;
  width: auto;
  transform-origin: 50% 84%;
  transform: translateX(-50%) rotate(0deg);
  transition: transform 0.6s ease-in-out;
  z-index: 10;
  pointer-events: none;
}

input[type="text"] {
  padding: 6px;
  width: 220px;
}
button {
  padding: 8px 14px;
  cursor: pointer;
}

.status {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 243px;
}
