<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ datacenter.nome }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
</head>

<header class="header">
  <div class="header-left">
    <h1>Calculadora Verde</h1>
  </div>
  <div class="header-right">
    <nav>
      <a href="/">Home</a>
      <a href="/metricas">Métricas</a>
    </nav>
  </div>
</header>

<body>

  <div class="painel">
    <h1>{{ datacenter.nome }}</h1>

    <div class="medidores">
      <div class="medidor-container">
        <h2>PUE ({{ datacenter.indicadores.pue }})</h2>
        <img src="{{ url_for('static', filename='img/medidor_pue.svg') }}" class="medidor-img">
        <img src="{{ url_for('static', filename='img/ponteiro.svg') }}" class="ponteiro" style="transform: rotate({{ angulo_pue }}deg);">
      </div>

      <div class="medidor-container">
        <h2>CUE ({{ datacenter.indicadores.cue }})</h2>
        <img src="{{ url_for('static', filename='img/medidor_cue.svg') }}" class="medidor-img">
        <img src="{{ url_for('static', filename='img/ponteiro.svg') }}" class="ponteiro" style="transform: rotate({{ angulo_cue }}deg);">
      </div>

      <div class="medidor-container">
        <h2>DCiE (%) ({{ datacenter.indicadores.dcie }})</h2>
        <img src="{{ url_for('static', filename='img/medidor_dcie.svg') }}" class="medidor-img">
        <img src="{{ url_for('static', filename='img/ponteiro.svg') }}" class="ponteiro" style="transform: rotate({{ angulo_dcie }}deg);">
      </div>

      <div class="medidor-container">
        <h2>WUE ({{ datacenter.indicadores.wue }})</h2>
        <img src="{{ url_for('static', filename='img/medidor_wue.svg') }}" class="medidor-img">
        <img src="{{ url_for('static', filename='img/ponteiro.svg') }}" class="ponteiro" style="transform: rotate({{ angulo_wue }}deg);">
      </div>
    </div>
  </div>

  <main class="datacenter-container">
    <div class="datacenter-card">

      <div class="datacenter-card__infos">
        <p><strong>Localização:</strong> {{ datacenter.localizacao.endereco }}</p>
        <p><strong>Proprietário:</strong> {{ datacenter.operacao.proprietario }}</p>
        <p><strong>Tipo de Operação:</strong> {{ datacenter.operacao.tipo }}</p>
        <p><strong>Capacidade:</strong> {{ datacenter.energia.capacidade_total_kW }} kW</p>
        <p><strong>Área Útil:</strong> {{ datacenter.infraestrutura.area_util_m2 }} m²</p>
      </div>

      <div class="datacenter-card__infos">
        <p><strong>Energia Total (kWh/ano):</strong> {{ datacenter.metricas_ambientais.energia_total_kWh }}</p>
        <p><strong>Energia TI (kWh/ano):</strong> {{ datacenter.metricas_ambientais.energia_ti_kWh }}</p>
        <p><strong>Emissão Total CO₂ (kg):</strong> {{ datacenter.metricas_ambientais.emissao_CO2_kg }}</p>
        <p><strong>Volume de Água (L/ano):</strong> {{ datacenter.metricas_ambientais.agua_consumida_L }}</p>
        <p><strong>Redundância Energia:</strong> {{ datacenter.infraestrutura.redundancia_energia }}</p>
      </div>

      <div class="datacenter-card__dados">
        <div class="datacenter-card__indices">
          <p><strong>PUE:</strong> {{ datacenter.indicadores.pue }}</p>
          <p><strong>CUE:</strong> {{ datacenter.indicadores.cue }}</p>
          <p><strong>WUE:</strong> {{ datacenter.indicadores.wue }}</p>
          <p><strong>DCiE:</strong> {{ datacenter.indicadores.dcie }}%</p>
        </div>
        <p class="datacenter-card__status">
          <strong>Status:</strong> {{ datacenter.indicadores.status }}
        </p>
      </div>

    </div>
  </main>

</body>

</html>