<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/homepage.css">
</head>
<header class="header">
  <div class="header-left">
    <h1>Calculadora Verde</h1>
  </div>
  <div class="header-right">
    <nav>
      <a href="/">Home</a>
      <a href="/metricas">Métricas</a>
    </nav>
  </div>
</header>

<body>
  <div class="painel">
    <h1>{{ datacenter.nome }}</h1>

    <div class="medidores">
      <div class="medidor-container">
        <h2>PUE</h2>
        <img src="../static/img/medidor_pue.svg" class="medidor-img" alt="medidor">
        <img src="../static/img/ponteiro.svg" class="ponteiro" style="transform: rotate(0deg);">
      </div>
      <div class="medidor-container">
        <h2>CUE</h2>
        <img src="../static/img/medidor_cue.svg" class="medidor-img" alt="medidor">
        <img src="../static/img/ponteiro.svg" class="ponteiro" style="transform: rotate({{ angulo_cue|default(0) }}deg);">
      </div>

      <div class="medidor-container">
        <h2>DCiE (%)</h2>
        <img src="{{ url_for('static', filename='img/medidor_dcie.svg') }}" class="medidor-img" alt="medidor">
        <img src="{{ url_for('static', filename='img/ponteiro.svg') }}" class="ponteiro" style="transform: rotate({{ angulo_dcie|default(0) }}deg);">
      </div>
      <div class="medidor-container">
        <h2>WUE</h2>
        <img src="{{ url_for('static', filename='img/medidor_cue.svg') }}" class="medidor-img" alt="medidor">
        <img src="{{ url_for('static', filename='img/ponteiro.svg') }}" class="ponteiro" style="transform: rotate({{ angulo_wue|default(0) }}deg);">
      </div>
    </div>
  </div>

  <main class="datacenter-container">
    <div class="datacenter-card">
      <div class="datacenter-card__infos">
        <p><strong>Localização:</strong> {{ datacenter.localizacao.endereco }} </p>
        <p><strong>Capacidade:</strong> {{ datacenter.energia.capacidade_total_kW }} kW</p>
        <p><strong>Energia Total:</strong> {{ datacenter.energia_total_kWh }} kWh</p>
        <p><strong>Energia TI:</strong> {{ datacenter.energia_ti_kWh }} kWh</p>
        <p><strong>Emissão Total CO₂:</strong> {{ datacenter.emissao_CO2_kg }} kg</p>
      </div>
      <div class="datacenter-card__infos">
        <p><strong>Fator de Emissão:</strong> {{ datacenter.emissao_CO2fator_emissao_kgCO2_kWh_kg }} kgCO₂/kWh</p>
        <p><strong>Volume de Água:</strong>  {{ datacenter.metricas_ambientais.agua_consumida_L }} L</p>
        <p><strong>Temperatura Média:</strong> {{ datacenter.climatizacao.temperatura_media_C }} °C</p>
        <p><strong>Umidade Média:</strong> {{ datacenter.climatizacao.umidade_relativa }}</p>
      </div>

      <div class="datacenter-card__dados">
        <div class="datacenter-card__indices">
          <p><strong>PUE:</strong> {{ datacenter.energia.PUE }}</p>
          <p><strong>CUE:</strong> {{ datacenter.energia.CUE }}</p>
          <p><strong>WUE:</strong> {{ datacenter.energia.WUE }}</p>
          <p><strong>DCiE:</strong> {{ datacenter.energia.DCiE }}</p>
        </div>
        <p class="datacenter-card__status"><strong>Status:</strong> {{ datacenter.indicadores.status }}</p>
      </div>

    </div>

  </main>

  {% if resultado_pue %}
  <div class="status">
    <p>{{ resultado_pue|safe }}</p>
    <p>{{ resultado_cue|safe }}</p>
    <p>{{ resultado_dcie|safe }}</p>
    <p>{{ resultado_wue|safe }}</p>
  </div>
  {% endif %}

</body>

</html>