<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculadora Verde - Homepage</title>
  <link rel="stylesheet" href="static/css/homepage.css">
</head>

<body>
  <header class="header">
    <div class="header-left">
      <h1>Calculadora Verde</h1>
    </div>
    <div class="header-right">
      <nav>
        <a href="/">Home</a>
        <a href="/metricas">Métricas</a>
      </nav>
    </div>
  </header>

  <div class="painel">
    <div class="medidores">
      <div class="medidor-container">
        <h2>Média PUE ({{ media_pue | default("N/A") }})</h2>
        <img src="../static/img/medidor_pue.svg" class="medidor-img" alt="Medidor PUE">
        <img src="../static/img/ponteiro.svg" class="ponteiro" style="transform: rotate({{ angulo_pue|default(0) }}deg);">
      </div>
      <div class="medidor-container">
        <h2>Média CUE ({{ media_cue | default("N/A") }})</h2>
        <img src="../static/img/medidor_cue.svg" class="medidor-img" alt="Medidor CUE">
        <img src="../static/img/ponteiro.svg" class="ponteiro" style="transform: rotate({{ angulo_cue|default(0) }}deg);">
      </div>

      <div class="medidor-container">
        <h2>Média DCiE (%) ({{ media_dcie | default("N/A") }})</h2>
        <img src="{{ url_for('static', filename='img/medidor_dcie.svg') }}" class="medidor-img" alt="Medidor DCiE">
        <img src="{{ url_for('static', filename='img/ponteiro.svg') }}" class="ponteiro" style="transform: rotate({{ angulo_dcie|default(0) }}deg);">
      </div>

      <div class="medidor-container">
        <h2>Média WUE ({{ media_wue | default("N/A") }})</h2>
        <img src="{{ url_for('static', filename='img/medidor_wue.svg') }}" class="medidor-img" alt="Medidor WUE">
        <img src="{{ url_for('static', filename='img/ponteiro.svg') }}" class="ponteiro" style="transform: rotate({{ angulo_wue|default(0) }}deg);">
      </div>
    </div>
  </div>

  <div class="container-btn_adicionar">
    <button class="btn-adicionarDatacenter" id="openModal">✚ Adicionar Data Center</button>
  </div>

  <!-- modais --> 
      <div id="modal" class="modal-overlay">
        <div class="modal-content">
          <h2>Adicionar Data Center</h2>

          <form id="formNovoDC" action="{{ url_for('api_adicionar_datacenter') }}" method="post">

            <div class="form-container">

              <div>
                <h3>Informações Gerais</h3>

                <label>Código do Data Center</label>
                <input type="text" name="codigo" required>

                <label>Nome do Data Center</label>
                <input type="text" name="nome" required>

                <label>Endereço / Localidade</label>
                <input type="text" name="endereco" required>

                <label>Latitude (opcional)</label>
                <input type="text" name="latitude">

                <label>Longitude (opcional)</label>
                <input type="text" name="longitude">
              </div>

              <div>
                <h3>Operação</h3>

                <label>Proprietário</label>
                <input type="text" name="proprietario" required>

                <label>Tipo de Operação</label>
                <select name="tipo_operacao" required>
                  <option value="Colocation">Colocation</option>
                  <option value="Backup / DR">Backup / DR</option>
                  <option value="Enterprise Privado">Enterprise Privado</option>
                </select>

                <label>Data de Início</label>
                <input type="date" name="data_inicio" required>

                <label>Status</label>
                <select name="status" required>
                  <option value="Operacional">Operacional</option>
                  <option value="Em Expansão">Em Expansão</option>
                  <option value="Planejamento">Planejamento</option>
                </select>

                <label>SLA Disponibilidade (%)</label>
                <input type="text" name="sla_disponibilidade" placeholder="99.99%" required>


              </div>

              <div>

                <h3>Energia</h3>
                <label>Capacidade Total (kW)</label>
                <input type="number" name="capacidade_kw" required>
                <h3>Climatização</h3>
                <label>Tipo</label>
                <select name="clima_tipo" required>
                  <option value="CRAC + Free Cooling">CRAC + Free Cooling</option>
                  <option value="Water-Cooled">Water-Cooled</option>
                  <option value="Free Cooling + Chillers">Free Cooling + Chillers</option>
                </select>

                <h3>Rede</h3>
                <label>Carriers</label>
                <input name="carriers" placeholder="Ex: Vivo, Embratel">

                <label>Uplink Total (Gbps)</label>
                <input type="number" name="uplink_total_Gbps" required>

                <div class="form-buttons">
                  <button class="btn-cancel" type="button" id="closeModal">Cancelar</button>
                  <button class="btn-submit" type="submit">Salvar</button>
                </div>
              </div>

            </div>
          </form>


        </div>
      </div>

    <div id="dcdel-modal" class="dcdel-overlay">
      <div class="dcdel-box">

        <h2 class="dcdel-title">Excluir datacenter</h2>
        <p class="dcdel-text">Tem certeza que deseja excluir este datacenter?</p>

        <form id="dcdel-form" method="POST">
          <div class="dcdel-buttons">
            <button type="button" class="dcdel-cancel" onclick="dcdel_close()">Cancelar</button>
            <button type="submit" class="dcdel-confirm">Excluir</button>
          </div>
        </form>

      </div>
    </div>



 <!-- tabela -->


  <table class="table-datacenters">
    <thead>
      <tr>
        <th scope="col">Data Center</th>
        <th scope="col">Localidade</th>
        <th scope="col">Capacidade</th>
        <th scope="col">PUE</th>
        <th scope="col">CUE</th>
        <th scope="col">DCiE</th>
        <th scope="col">WUE</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for dc in datacenters %}
      <tr>
        <td>{{ dc.codigo }}</td>
        <td>{{ dc.localizacao.endereco.split(' - ')[0] if ' - ' in dc.localizacao.endereco else dc.localizacao.endereco }}</td>
        <td>{{ dc.energia.capacidade_total_kW }} kW</td>
        <td>{{ dc.indicadores.pue | default("N/A") }}</td>
        <td>{{ dc.indicadores.cue | default("N/A") }}</td>
        <td>{{ dc.indicadores.dcie | default("N/A") }}</td>
        <td>{{ dc.indicadores.wue | default("N/A") }}</td>
        <td>
          <a href="{{ url_for('pagina_datacenter', codigo=dc.codigo) }}"><button>⟶</button></a>
            <button class="dcdel-btn" onclick="dcdel_open({{ dc.id }})">
            &#128465;
          </button>
        </td>

      </tr>
      {% endfor %}
    </tbody>
  </table>


  {% if resultado_pue %}
  <div class="status">
    <p>{{ resultado_pue|safe }}</p>
    <p>{{ resultado_cue|safe }}</p>
    <p>{{ resultado_dcie|safe }}</p>
    <p>{{ resultado_wue|safe }}</p>
  </div>
  {% endif %}

  <script>
    document.addEventListener("DOMContentLoaded", function () {

      const modal = document.getElementById("modal");
      const openBtn = document.getElementById("openModal");
      const closeBtn = document.getElementById("closeModal");

      openBtn.addEventListener("click", function () {
        modal.style.display = "flex";
      });

      closeBtn.addEventListener("click", function () {
        modal.style.display = "none";
      });

      window.addEventListener("click", function (e) {
        if (e.target === modal) {
          modal.style.display = "none";
        }
      });

    });
 
     function dcdel_open(id) {
          const modal = document.getElementById("dcdel-modal");
          modal.style.display = "flex";

          document.getElementById("dcdel-form").action = "/datacenter/deletar/" + id;
      }

      function dcdel_close() {
          document.getElementById("dcdel-modal").style.display = "none";
      }

  </script>

</body>

</html>