<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="static/css/homepage.css">
</head>



<body>
  <header class="header">
    <div class="header-left">
      <h1>Calculadora Verde</h1>
    </div>
    <div class="header-right">
      <nav>
        <a href="/">Home</a>
        <a href="/metricas">Métricas</a>
      </nav>
    </div>
  </header>

  <div class="painel">
    <div class="medidores">
      <div class="medidor-container">
        <h2>PUE</h2>
        <img src="../static/img/medidor_pue.svg" class="medidor-img" alt="medidor">
        <img src="../static/img/ponteiro.svg" class="ponteiro" style="transform: rotate(0deg);">
      </div>
      <div class="medidor-container">
        <h2>CUE</h2>
        <img src="../static/img/medidor_cue.svg" class="medidor-img" alt="medidor">
        <img src="../static/img/ponteiro.svg" class="ponteiro" style="transform: rotate({{ angulo_cue|default(0) }}deg);">
      </div>

      <div class="medidor-container">
        <h2>DCiE (%)</h2>
        <img src="{{ url_for('static', filename='img/medidor_dcie.svg') }}" class="medidor-img" alt="medidor">
        <img src="{{ url_for('static', filename='img/ponteiro.svg') }}" class="ponteiro" style="transform: rotate({{ angulo_dcie|default(0) }}deg);">
      </div>
      <div class="medidor-container">
        <h2>WUE</h2>
        <img src="{{ url_for('static', filename='img/medidor_cue.svg') }}" class="medidor-img" alt="medidor">
        <img src="{{ url_for('static', filename='img/ponteiro.svg') }}" class="ponteiro" style="transform: rotate({{ angulo_wue|default(0) }}deg);">
      </div>
    </div>
  </div>

  <div class="container-btn_adicionar">
    <button class="btn-adicionarDatacenter" id="openModal">✚ Adicionar Data Center</button>
  </div>

  <div id="modal" class="modal-overlay">
    <div class="modal-content">
      <h2>Adicionar Data Center</h2>

      <form>
        <label>Data Center</label>
        <input type="text" required>

        <label>Localidade</label>
        <input type="text" required>

        <label>Capacidade (kW)</label>
        <input type="number" required>

        <div class="form-buttons">
          <button type="button" id="closeModal">Cancelar</button>
          <button type="submit">Salvar</button>
        </div>
      </form>
    </div>
  </div>

  <table class="table-datacenters">
    <thead>
      <tr>
        <th scope="col">Data Center</th>
        <th scope="col">Localidade</th>
        <th scope="col">Capacidade</th>
        <th scope="col">PUE</th>
        <th scope="col">CUE</th>
        <th scope="col">DCiE</th>
        <th scope="col">WUE</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>DC-SP01</td>
        <td>São Paulo, SP - Brasil</td>
        <td>4000 kW</td>
        <td>1.45</td>
        <td>0.08</td>
        <td>68.97</td>
        <td>1.25</td>
        <td>
          <a href="/datacenter"><button>⟶</button></a>
        </td>
      </tr>
      <tr>
        <td>DC-RJ01</td>
        <td>Rio de Janeiro, RJ - Brasil</td>
        <td>2500 kW</td>
        <td>1.52</td>
        <td>0.10</td>
        <td>65.78</td>
        <td>1.30</td>
        <td>
          <button>⟶</button>
        </td>
      </tr>
      <tr>
        <td>DC-MG01</td>
        <td>Itabirito, MG - Brasil</td>
        <td>1800 kW</td>
        <td>1.35</td>
        <td>0.07</td>
        <td>74.07</td>
        <td>1.10</td>
        <td>
          <button>⟶</button>
        </td>
      </tr>

    </tbody>
  </table>


  {% if resultado_pue %}
  <div class="status">
    <p>{{ resultado_pue|safe }}</p>
    <p>{{ resultado_cue|safe }}</p>
    <p>{{ resultado_dcie|safe }}</p>
    <p>{{ resultado_wue|safe }}</p>
  </div>
  {% endif %}

  <script>
    document.addEventListener("DOMContentLoaded", function () {

      const modal = document.getElementById("modal");
      const openBtn = document.getElementById("openModal");
      const closeBtn = document.getElementById("closeModal");

      openBtn.addEventListener("click", function () {
        modal.style.display = "flex";
      });

      closeBtn.addEventListener("click", function () {
        modal.style.display = "none";
      });

      window.addEventListener("click", function (e) {
        if (e.target === modal) {
          modal.style.display = "none";
        }
      });

    });

  </script>

</body>

</html>